<div class="padding-left">
    <h1>Application web QCM</h1>

    <h2>Contexte</h2>

    <p>C'est une application web que j'ai développée pour un exercice effectué pendant mon Bac pro logistique.</p>

    <h2>Pourquoi une application de QCM ?</h2>

    <p>Le but de l'exercice était de créer un projet et d'expliquer le déroulement à un jury lors de la soutenance finale : Le projet choisi, les moyens mis en oeuvre, ce qui a fonctionné ou pas, les tâches effectuées par chaque personne.</p>
    <p>Toute la classe a organisé un brainstorming pour choisir des idées de projet, le thème d'un site web a été évoqué. Pour les QCM, je me suis inspiré d'un projet de jeu de société créé par une promotion Bac pro logistique précédente.</p>

    <h2>Comment j'ai abordé le projet ?</h2>

    <p>Je me suis servi du système de portail pour les bulletins de notes utilisé pendant le bac pro pour créer l'application. Elle est basée sur le même principe, la partie enseignant pour le portail -> la partie administration pour l'application QCM. La partie élèves qui consulte les notes pour le portail -> la partie utilisateur qui répond à des QCM.</p>

    <h2>Quelles technologies ai-je utilisé ?</h2>

    <p>HTML et CSS m'ont servi pour les écrans et PHP et SQL gèrent les données. Le code source est orienté objet et l'architecture est inspirée du framework Symfony.</p>

    <button (click)="onReturnToCv()">Retour au cv</button>
</div>
