.flex-container {
    display: flex;
}

.aside {
    background-color: rgba(0, 0, 153, 1.0);
    color: rgba(255, 255, 255, 1.0);  
}

.padding-right {
    padding-right: 3em;
}

.padding-left {
    padding-left: 3em;
}

.width-20 {
    width: 20%;
}

.width-80 {
    width: 80%;
}