.flex-container {
    display: flex;
}

.width-30 {
    width: 30%;
}

.width-70 {
    width: 70%;
}

.width-80 {
    width: 80%;
}

.text-dark-grey {
    color: rgba(132, 132, 132, 1.0);
}

.text-light-grey {
    color: rgba(128, 132, 131, 1.0);
}

.text-bold {
    font-weight: bold;
}

.text-uppercase {
    text-transform: uppercase;
}