<div class="padding-left">
    <h1>Application web Jeu de rôle</h1>

    <h2>Contexte</h2>

    <p>C'est une application web que j'ai développée pour mon entrainement personnel suite à ma POEC effectuée à Nantes.</p>

    <p>L'objectif était de maîtriser les bases des langages de développement découverts pendant la POEC, en créant une application de gestion de données.</p>

    <h2>Pourquoi une application de jeu de rôle ?</h2>

    <p>Un ancien tutoriel que j'utilise sur Openclassrooms prenait l'exemple du jeu de rôle pour les travaux pratiques. C'était pour moi l'occasion de commencer à pratiquer tout en suivant un exemple concret.</p>

    <h2>Comment j'ai abordé le projet ?</h2>

    <p>J'ai pris en compte ce que je savais des jeux de rôle sur table pour décider du processus de création. Je voulais prévoir un espace pour l'administration et pour les joueurs. J'avais aussi besoin de sauvegarder les données nécessaires pour créer des situations de jeu de rôle.</p>
    <p>En réfléchissant à ces besoins, j'en déduis les espaces à développer et les fonctionnalités nécessaires.</p>

    <h2>Quelles technologies ai-je utilisé ?</h2>

    <p>Je me suis servi d'HTML et CSS pour créer les écrans, et de PHP et SQL pour gérer les données. Javascript m'a permis d'implémenter des fonctionnalités qui n'impactent pas les données utilisées pour les espaces utilisateur et administrateur. Le site est en architecture procédurale, semi-orientée objet.</p>

    <button (click)="onReturnToCv()">Retour au cv</button>
</div>